@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(231, 238, 245, 0.492);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .home{
  background-image: url(https://images.unsplash.com/photo-1533628635777-112b2239b1c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fHNjaG9vbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
} */
.navbar{
  display: flex;
  justify-content: space-evenly;
}
.navbar>a{
  padding-top: 50px;
}
.navbar>button{
  margin-top: 70px;
}
.img{
  height: 300px;
}
label{
  font-size: 19px;
  font-weight: bold;
  font-family: serif;
  font-style: italic;
}
input{
  margin: 20px;
  margin-top: 4px;
  margin-bottom: 40px;
  font-size: 17px;
  text-align: center;
  border-radius: 7px;
  font-family: serif;
}

.bodydiv{
  display: none;
}

.disabled{
  background-color: rgb(238, 115, 0) ;
  pointer-events: none;
  padding: 3px;
  border-radius: 10px;
}